<section id="dashboard-view" class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="widget wviolet">
            <div ht-widget-header title="Products" allow-collapse="true"></div>
            <div class="widget-content text-center text-info">

              <div class="data-table table table-condensed table-striped">
                <div class="data-table__head">
                    <div class="data-table__column">
                      <button class="data-table__button--sort" ng-click="vm.sortBy('name')">Name</button>
                      <span class="data-table__indicator--sort" ng-show=" vm.sort.type === 'name'" ng-class="{reverse: vm.sort.reverse}"></span>
                    </div>
                    <div class="data-table__column">
                      <button class="data-table__button--sort" ng-click="vm.sortBy('price')">Price</button>
                      <span class="data-table__indicator--sort"  ng-show=" vm.sort.type === 'price'" ng-class="{reverse: vm.sort.reverse}"></span>
                    </div>
                </div>
                <ul class="data-table__data">
                  <li class="data-table__data-row" ng-repeat="p in vm.products | orderBy : vm.sort.type : vm.sort.reverse">
                    <div class="data-table__column">{{p.name}}</div>
                    <div class="data-table__column">{{p.price}}</div>
                  </li>
                </ul>
              </div>

            </div>
            <div class="widget-foot">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </section>
</section>